@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://cdn.jsdelivr.net/npm/@mdi/font@6.2.95/css/materialdesignicons.min.css');

* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url("../img/bg.png") repeat;
}

.container {
    width: 70%;
    height: 100vh;
    margin-top: 60px;
    box-sizing: border-box;
}

.bg-w {
    background-color: #fff;
}

.f-r {
    float: right;
}

.f-l {
    float: left;
}

.jc-l {
    justify-content: left;
}

.jc-r {
    justify-content: right;
}

.nav-bar {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 0 35px;
    background-color: #DB292F;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-bar li {
    float: left;
}

.nav-bar a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.item {
    width: auto;
    height: 100%;
    box-sizing: border-box;
}

.item img {
    width: auto;
    height: 47px;
    box-sizing: border-box;
    margin-top: calc((100px - 47px)/ 2);
}

.btn {
    width: auto;
    height: auto;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    transition: all 0.1s linear;
}

.btn-menu {
    color: #fff;
    font-size: 16px;
    padding: 8px 12px;
    margin-top: calc((100px - 43px)/ 2);
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
}

.btn-menu:hover {
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.2);
}

.inp input {
    opacity: 0.7;
    background-color: #e56266;
    border-radius: 13px;
    color: #fff;
    border: none;
}

.inp-search input {
    margin-left: 10px;
    padding: 10px;
    color: #fff;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: calc((100px - 45px)/ 2);
}

.inp-search input::placeholder {
    color: #fff;
}

.inp-search input:focus {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.carousel {
    width: 100%;
    height: 60vh;
    box-sizing: border-box;
    background: url("../img/bg2.jpg") no-repeat;
    background-size: cover;
    background-position: 0 -50px;
    padding-top: 8%;
    padding-left: 10%;
}

.wrapper {
    width: auto;
    height: auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    overflow: hidden;
}

.wrapper-nos {
    width: auto;
    height: auto;
    overflow: hidden;
    clear: both;
}

.mt-50 {
    margin-top: 50px;
}

.mt-25 {
    margin-top: 25px;
}

.capt span {
    font-size: 32px;
    font-weight: bold;
    color: #dc3545;
    float: left;
    text-shadow: rgba(255, 255, 255, 0.3);
}

.capt p {
    margin-top: 10px;
    width: 50%;
    height: auto;
    font-size: 19px;
    font-weight: normal;
    color: #1a1a1a;
    text-align: left;
    float: left;
    text-shadow: rgba(255, 255, 255, 0.3);
}

.btn-more {
    margin-top: 20px;
    padding: 10px 15px;
    color: #fff;
    background-color: #DB292F;
    border-radius: 8px;
    cursor: pointer;
}

.btn-more:hover {
    background-color: #96383c;
}

.feature {
    width: 100%;
    height: auto;
    /* padding: 3%; */
    background-color: #fff;
    box-sizing: border-box;
}

.feature ul {
    width: 100%;
    height: 100%;
    list-style: none;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
}

.feature li {
    text-align: center;
    padding: 10% 20%;
    /* width: calc((94% - 25%) / 2); */
    /* float: left; */
}

.feature span {
    font-weight: bold;
    font-size: 18px;
}

.feature p {
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    margin-top: 10px;
}

.btn-featured {
    width: 100px;
    height: 30px;
    background-color: #DB292F;
    padding: 10px;
    box-sizing: border-box;
    line-height: 5px;
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}

.spacer {
    width: 80%;
    height: auto;
    float: left;
    padding: 8px;
    border-left: 7px solid #DB292F;
    border-radius: 0 10px 10px 0;
    background-color: #e0e0e0;
    font-size: 18px;
}

.spacer-s {
    width: 9%;
    height: auto;
    float: left;
    padding: 8px;
    border-left: 7px solid #DB292F;
    border-radius: 0 10px 10px 0;
    background-color: #e0e0e0;
    font-size: 18px;
}

.sertification {
    width: 100%;
    height: auto;
    /* float: left; */
}

.sertification ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;
}

.sertification li {
    background-color: #fff;
    border-radius: 25px;
    border: 3px solid #DB292F;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
}

.title {
    width: 100%;
    height: auto;
    background-color: #DB292F;
    color: #fff;
    padding-top: 10%;
    padding-bottom: 5%;
    font-size: 22px;
    font-weight: bold;
}

.desc {
    width: auto;
    height: auto;
    background-color: #fff;
    padding: 5%;
}

.spacer-blank {
    width: 100%;
    height: auto;
    margin-top: 50px;
    border-bottom: 3px solid #DB292F;
    text-align: center;
    padding-bottom: 15px;
}

.title-blank {
    font-weight: bold;
    font-size: 22px;
    border-bottom: 8px solid #DB292F;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.testimoni {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    margin-bottom: 50px;
}

.testimoni ul {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
}

.testimoni li {
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    padding: 5%;
}

.pict {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
}

.pict img {
    width: 100%;
}

.name {
    color: #DB292F;
    font-size: 16px;
}

.job {
    margin-top: 5px;
    font-size: 12px;
}

footer {
    width: 100%;
    height: auto;
    padding: 5px 15%;
    box-sizing: border-box;
    bottom: 0;
    float: left;
    clear: both;
    background-color: #bb2429;
    color: #fff;
    font-size: 14px;
}

.desc-p {
    margin-top: 10px;
    font-size: 14px;
}